*{
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
}
body{
    background-color: peachpuff;
    margin: 0 auto;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    text-align: center;

}
h1{
    font-size: 20pt;
    
}

body form{
    display: grid;
    grid-template-columns: 30% 45% 25%;
    background-color: bisque;

}

body form .boto{
    padding: 15px 30px;

}

